.card {
  border: 1px solid black;
  width: 100px;
  margin: 2px;
}

.stack {
  display: inline-block;
  margin: 2px;
}

.moustaches {
  display: flex;
  min-height: 156px;
}

.center {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  width: 102px;
  flex-shrink: 0;
}

#main {
  text-align: center;
}

#main > div {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.line {
  display: flex;
}

.moustaches .left {
  width: 55%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  flex-shrink: 1;
  margin-right: 62px;
}

.line .left {
  width: 55%;
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 1;
  justify-content: right;
}

.moustaches .right {
  display: flex;
  width: 55%;
  flex-shrink: 1;
  margin-left: 62px;
  justify-content: left;
}

.line .right {
  display: flex;
  width: 55%;
  flex-shrink: 1;
}

.line .right .card, .moustaches .right .card {
  margin-right: -30px;
  box-shadow: -3px 1px 5px grey;
}

.line .left .card, .moustaches .left .card {
  margin-left: -30px;
  box-shadow: 3px 1px 5px grey;
}

.dragged_over {
  background: rgba(255, 0, 0, 0.2);
}

.has-next-move {
  opacity: 0;
}

.has-next-move:hover {
  opacity: 1;
}
